header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 2vw 2vh 2vw;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1vw;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 2vh 2vw 2vh 2vw;
}