/* General text styling */
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 3rem;
}
h1, h2 {
  font-family: "Markazi Text";
}
p, button, label, input {
  font-family: "Karla";
}

/** Styling for general components */
button, .linkButton {
  padding: 10px 10px 10px 10px;
  border-radius: 16px;
  border: 0;
  background-color: #F4CE14;
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  text-align: center;
}
button:hover, .linkButton:hover {
  opacity: 0.75;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 2vw 2vh 2vw;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1vw;
}
a {
  font-family: "Karla";
  font-weight: bold;
}

/* Hero */
#hero {
  display: flex;
  justify-content: space-between;
  padding: 0 2vw 0 2vw;
  background-color: #495E57;
}
#hero h1 {
  color: #F4CE14;
}
#hero h2, #hero p {
  color: white;
}
#hero img {
  width: 20vw;
  height: 20vw;
  margin: 2vw 2vw 2vw 2vw;
  object-fit: cover;
  border-radius: 16px;
}
#hero-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40vw;
  padding-bottom: 10px;
}
#hero-left * {
  margin: 0;
}
#hero-left h2 {
  margin-top: -1.5rem;
}
#hero-left button {
  width: 50%;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 2vh 2vw 2vh 2vw;
}

/* Booking Form */
form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  gap: 5px;
  width: 40vw;
}
form input, form select {
  font-size: 1.5rem;
}
form label {
  color: white;
  font-size: 2rem;
}
form .linkButton {
  margin-top: 20px;
  width: 50%;
}